{% extends 'base.html.twig' %} {% block title %}Inscription {% endblock %} {%
block body %} {% for flash_error in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

<div class="row">
  <div class="col-12 text-center">
    <h1>Page d'inscription</h1>
    <form class="formulaire col-6 offset-3">
      
	  <div class="entree">{{ form_start(registrationForm) }}</div>
	  <div class="entree">{{ form_row(registrationForm.pseudo) }}</div>
	  <div class="entree">{{ form_row(registrationForm.email) }}</div>
	  <div class="entree">{{
        form_row(registrationForm.plainPassword, {
          label: "Mot de passe : "
        })
      }}</div>
      
      {# {{ form_row(registrationForm.agreeTerms) }} #}

      <button type="submit" class="btn btn-success entree">Inscription</button>
      {{ form_end(registrationForm) }}
    </form>
  </div>
</div>
<style>
  .formulaire {
    background-color: #9cc3d5ff;
    color: #0063b2ff;
	padding : 20px;
	border-radius: 20px;
	border: 1px solid #0063b2ff;
  }
  .entree {
	  margin-top:10px;
  }
</style>
{% endblock %}
